<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Scikitlearn</li>
    <li>Matplotlib</li>
    <li>Tensorflow</li>
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Labs</td>
  </tr>
  <tr>
    <td>Google Colab</td>
  </tr>
  <tr>
    <td>Visual Studio Code</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
hrs = 200//60
min = 200 % 60
print(f'{hrs} hours and {min} minutes')

3 hours and 20 minutes

Objectives:
<ul>
<li>list popular data science languages</li>
<li>list popular data science libraries</li>
<li>list popular data science developer environments</li>
<li>demonstrate basic python code in IPython notebooks</li>
</ul>

<h2>Author</h2>
Augusto Vasconcellos Nogueira Diogenes